<template>
  <div id ="AddManually" class="text-center container pt-5">
    <v-row>
      <v-col cols md="5" class="ma-auto">
        <h2 class="my-7">Add Album Manually</h2>
        <img class="main-logo mb-5" :src = logo alt="logo">
        <p class="font-italic" style="color:#e91e63">Note: Adding an album without an artist is disabled</p>
        <v-text-field v-model="albumName" outlined placeholder="Album Name" color="pink"/>
        <v-text-field v-model="artistName" outlined placeholder="Artist Name"  color="pink"/>
        <v-btn :disabled="disabled" :loading="loading" @click="addAlbum" rounded large color="pink">
          Save Album <v-icon right>mdi-content-save-outline</v-icon></v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  name: 'AddManually',
  data: () => {
    return {
      artistName: null,
      albumName: null,
      loading: false,
      logo: require('../../assets/logo.png')
    }
  },
  computed: {
    disabled: {
      get: vm => (!vm.artistName || !vm.artistName.trim()) ||
        (!vm.albumName || !vm.albumName.trim())
    }
  },
  methods: {
    addAlbum () {
      this.loading = true

      this.$store.dispatch('addAlbum', {
        manual: true,
        mbid: null,
        name: this.albumName,
        artistMbid: null,
        artistName: this.artistName
      }).then(() => this.resetInputs())
    },
    resetInputs () {
      this.artistName = null
      this.albumName = null
      this.loading = false
    }
  }
}
</script>

<style lang="scss" scoped>
  .main-logo {
    width: 10rem;
    border-radius: 1rem;
    box-shadow: 0 0 1.5rem 0 #e91e63;
    padding: .5rem;
  }
</style>
