<template>
  <v-row id="AlbumList">
    <v-col v-for="(album, key) in albums" :key="key" cols="12" md="6">
      <v-card class="albums mx-auto" outlined dark>
        <v-list-item three-line>
          <v-list-item-avatar tile size="120" color="grey">
            <img :src = album.image alt="CoverImage">
          </v-list-item-avatar>

          <v-list-item-content class="pt-2">
            <div class="mb-0 pt-1">ALBUM</div>
            <v-list-item-title class="headline mb-0" :title="album.name">
              {{ album.name }}
              <v-chip v-if="album.manual" color="primary" x-small>manual</v-chip>
            </v-list-item-title>
            <v-list-item-subtitle>By: {{ album.artist.name }}</v-list-item-subtitle>

            <v-chip-group active-class="pink white--text" column>
              <v-chip class="my-0 mx-2 ml-0" color="pink" text-color="white">
                <v-avatar left class="pink darken-4">{{ album.tracks.length }}</v-avatar>Tracks
              </v-chip>
              <v-chip class="my-0 mx-2 ml-0" color="pink" text-color="pink" outlined>
                {{ `${album.listeners} Listeners` }}
                <v-icon right>mdi-music-clef-treble</v-icon>
              </v-chip>
            </v-chip-group>
          </v-list-item-content>

          <v-tooltip v-for="(operation, key) in albumOperations" :key="key" bottom>
            <template v-slot:activator="{ on, attrs }">
               <v-fade-transition>
                 <v-btn v-bind="attrs" v-on="on" class="mt-10 metronome" :class="operation.handler" :color="operation.color"
                    :style="{ animationDuration: `${60 / 70}s` }"
                    fab outlined dark
                    absolute top right
                    :disabled="album.disabled"
                    @click="invokeMethod(operation.handler, album)">
                    <v-icon large v-text="operation.icon"></v-icon>
                  </v-btn>
                </v-fade-transition>
            </template>
            <span>{{ operation.text }}</span>
          </v-tooltip>
        </v-list-item>

        <v-card-text class="pt-0 pb-2">
          <v-card-subtitle class="pb-0 pt-0">TRACKLIST</v-card-subtitle>
          <v-data-table dense
            :headers="dataTableHeaders"
            :items="album.tracks"
            :page.sync="album.paginationPage"
            :items-per-page="4"
            hide-default-footer
            class="elevation-0"
            @page-count="album.paginationLength = $event"
          >
            <template v-slot:item.play="{ item }">
              <v-icon color="pink" class="play-btn"
              v-text="`mdi-${item.playing?'pause':'play'}-circle-outline`"
                @click="playTrack(item)"></v-icon>
            </template>
          </v-data-table>
          <div class="text-center pt-2" v-show="album.paginationLength > 1">
            <v-pagination circle dark color="pink"
            v-model="album.paginationPage"
            :length="album.paginationLength" ></v-pagination>
          </div>
        </v-card-text>
      </v-card>
    </v-col>
    <TrackPlayer v-if="Object.keys(nowPlaying).length" :track="nowPlaying" />
  </v-row>
</template>

<script>
import TrackPlayer from '../Misc/TrackPlayer'
export default {
  name: 'AlbumList',
  props: ['albums', 'albumOperations'],
  data: () => {
    return {
      nowPlaying: {},
      dataTableHeaders: [
        { text: null, value: 'index', width: 5 },
        { text: 'Play', value: 'play', width: 5, sortable: false },
        { text: 'Title', value: 'name' },
        { text: 'Duration', value: 'duration', width: 10, align: 'end' }
      ]
    }
  },
  components: { TrackPlayer },
  methods: {
    invokeMethod (name, args) {
      this[name](args)
    },
    addAlbum (album) {
      album.disabled = true

      this.$store.dispatch('addAlbum', {
        manual: false,
        mbid: album.mbid || null,
        name: album.name,
        artistMbid: album.artist.mbid || null,
        artistName: album.artist.name
      })
    },
    removeAlbum (album) {
      const exists = this.albums.filter(a => a.artist.id === album.artist.id)

      this.$store.dispatch('updateConfirmModal', {
        state: true,
        identifier: { albumId: album.id },
        operation: 'removeAlbum',
        title: 'Delete Album?',
        info: `This operation is irreversible, would you like to proceed?  ${exists.length === 1
              ? `<br /><small style="color:#e91e63">This is the only album by
              ${album.artist.name} in your shelf, deleting it will delete the artist as well</small>` : ''}`
      })
    },
    playTrack (track) {
      this.albums.map(album => album.tracks.map(track => { track.playing = false }))

      track.playing = !track.playing
      this.nowPlaying = track
    }
  }
}
</script>

<style lang="scss" scoped>
 .albums {
    min-height: 25.625rem;

    @keyframes metronome {
      from {
        transform: scale(.7);
      }

      to {
        transform: scale(1);
      }
    }

    .metronome {
      animation-name: metronome;
      animation-iteration-count: infinite;
      animation-direction: alternate;
    }

    .v-chip-group {
      .v-slide-group__content {
        padding: 0;
      }
    }

    .v-data-table__wrapper {
      td, th {
        height: 1.875rem;
        &.text-end {
          font-family: 'Roboto', sans-serif;
        }
      }
    }

    &.v-card {

      &:hover,
      &:hover .v-data-table {
        background-color: rgba(233, 32, 99, 0.226);
        border-color: rgba(233, 32, 99, 0.226);

        .v-icon.play-btn {
          color: $white-color;
        }
      }
    }
  }
</style>
