<template>
  <v-row id="AlbumsLoader" v-if="connectivityProbe.internet && connectivityProbe.database && skeletonLoading.album">
    <v-progress-circular class="circular-loader" size="70" width="3" color="pink" indeterminate/>
    <v-col v-for="n in 4" :key="n" cols="12" md="6">
      <v-skeleton-loader :boilerplate="false"
        class="albums-loader mb-5"
        type="list-item-avatar-three-line, divider, table-row-divider@4">
      </v-skeleton-loader>
    </v-col>
  </v-row>
  <ErrorPage v-else :origin="origin_" :searchMode="searchMode" />
</template>

<script>
import ErrorPage from '@/components/Misc/ErrorPage'
import { mapGetters } from 'vuex'

export default {
  props: ['origin', 'connectivityProbe'],
  name: 'AlbumsLoader',
  components: {
    ErrorPage
  },
  computed: {
    ...mapGetters(['searchMode', 'skeletonLoading']),
    origin_: {
      get: vm => vm.connectivityProbe.internet
        ? vm.connectivityProbe.database
          ? vm.origin
          : 'database-conn-error'
        : 'internet-conn-error'
    }
  }
}
</script>
