<template>
  <v-row id="ArtistsLoader" v-if="connectivityProbe.internet && connectivityProbe.database && skeletonLoading.artist">
    <v-progress-circular class="circular-loader" size="70" width="3" color="pink" indeterminate/>
    <v-col v-for="n in 12" :key="n" text-align="center" class="px-1" cols="12" lg="2" md="3" sm="4">
      <v-skeleton-loader :boilerplate="false"
        class="artists-loader mb-5"
        type="avatar, sentences">
      </v-skeleton-loader>
    </v-col>
  </v-row>
  <ErrorPage v-else :origin="origin_" :searchMode="searchMode" />
</template>

<script>
import ErrorPage from '@/components/Misc/ErrorPage'
import { mapGetters } from 'vuex'

export default {
  props: ['origin', 'connectivityProbe'],
  name: 'ArtistsLoader',
  components: {
    ErrorPage
  },
  computed: {
    ...mapGetters(['searchMode', 'skeletonLoading']),
    origin_: {
      get: vm => vm.connectivityProbe.internet
        ? vm.connectivityProbe.database
          ? vm.origin
          : 'database-conn-error'
        : 'internet-conn-error'
    }
  }
}
</script>
