<template>
  <v-row id="ErrorPage">
    <v-col cols="6" md="6">
      <img style="height: 38.75rem" class="img" alt="Not Found" :src = bgImg>
    </v-col>

    <v-col cols="6" md="6" class="align-self-center">
      <div style="color:#e91e63" class="display-4 mb-3">{{ alert }}</div>
      <div class="mb-4" v-html="message"></div>
      <v-btn rounded outlined color="pink"
        v-if="!origin.includes('lastfm') && origin.includes('search')"
        @click="closeSearch">Close Search</v-btn>
   </v-col>
  </v-row>
</template>

<script>
export default {
  name: 'ErrorPage',
  props: ['origin', 'searchMode'],
  computed: {
    alert: {
      get: vm => vm.origin.includes('default') ||
        (vm.$route.name === 'AddLastFmAlbum' && !vm.searchMode.state)
        ? 'Search'
        : 'Oops!'
    },
    module: {
      get: vm => vm.origin.includes('albums') ? 'Albums' : 'Artists'
    },
    bgImg: {
      get: vm => vm.origin.includes('default') ||
        (vm.$route.name === 'AddLastFmAlbum' && !vm.searchMode.state)
        ? require('@/assets/search.png')
        : vm.origin.includes('internet-conn-error')
          ? require('@/assets/internet-conn-error.png')
          : vm.origin.includes('database-conn-error')
            ? require('@/assets/database-conn-error.png')
            : require('@/assets/not-found.png')
    },
    message: {
      get: vm => vm.origin.includes('default') ||
        (vm.$route.name === 'AddLastFmAlbum' && !vm.searchMode.state)
        ? `Use the searchbox to search your favourite albums from${null}
          <b style="color:#e91e63">Last.Fm</b><br />You can add the albums you like to your shelf 😉`
        : vm.origin.includes('search')

          ? `Your search returned nothing,
            ${vm.origin.includes('shelf-albums')
              ? 'please review your filters or search something else'
              : 'please search something else'}`
          : vm.origin.includes('conn-error')

            ? `${vm.origin.includes('internet') ? 'Internet' : 'Database'} Connectivity lost.<br />
              ${vm.origin.includes('internet')
                ? 'Please check your internet connection and try again'
                : 'Please ensure that the server is running and the database is up then try again'}`
            : `No ${vm.module.toLowerCase()} found in your shelf, please add new
              ${vm.module.toLowerCase()} to your shelf or go to <b style="color:#e91e63">Shelf &rarr; 
              ${vm.module}</b> to refresh`
    }
  },
  methods: {
    closeSearch () {
      this.$store.dispatch('updateSearchMode', { state: false, origin: null })
    }
  }
}
</script>
