<template>
  <div id="AddAlbum">
    <template v-if="$route.name.includes('AddLastFmAlbum')">
      <AlbumList v-if="connectivityProbe.internet && connectivityProbe.database && searchResults.length"
        :albumOperations="albumOperations_"
        :albums="searchResults" />
      <SkeletonLoader v-else
        :origin="origin"
        :connectivityProbe="connectivityProbe" />
    </template>
    <AddManually v-else />
  </div>
</template>

<script>
import SkeletonLoader from '@/components/Misc/SkeletonLoaders/Albums'
import AddManually from '@/components/Albums/AddManually'
import AlbumList from '@/components/Albums/AlbumList'
import { mapGetters } from 'vuex'

export default {
  name: 'AddAlbum',
  components: {
    SkeletonLoader,
    AddManually,
    AlbumList
  },
  computed: {
    ...mapGetters(['searchResults', 'searchMode', 'albumOperations', 'connectivityProbe']),
    origin: {
      get: vm => vm.searchMode.state ? 'lastfm-albums-search' : 'lastfm-default-search'
    },
    albumOperations_: {
      get: vm => [vm.albumOperations.find(e => vm.origin.includes(e.origin))]
    }
  }
}
</script>
