@import './variables.scss';

.v-application {
  font-family: $body-font-family;

  .v-app-bar {
    .container {
      .v-chip {
        height: 2.2rem;

        .span {
          color: #ffffff;
        }
      }
    }

    .v-toolbar__content,
    .v-toolbar__extension {
      @media #{$media-breakpoint-sm} {
        padding: 0.25rem;
      }
    }
  }

  .circular-loader {
    position: fixed;
    margin: 0 auto;
    z-index: 10;
    top: 50vh;
    right: 0;
    left: 0;
  }
  .v-skeleton-loader {
    &.albums-loader {
      .v-skeleton-loader__list-item-avatar-three-line {
        height: auto;
        padding-top: 0.625rem;
        padding-bottom: 0.625rem;

        .v-skeleton-loader__avatar {
          height: 7.5rem;
          width: 7.5rem;
          margin-bottom: 0;
          border-radius: 0;
        }

        .v-skeleton-loader__text {
          height: 1.25rem;
          margin-bottom: 0.625rem;
        }
      }

      .v-skeleton-loader__divider {
        margin-top: 0.375rem;
      }

      .v-skeleton-loader__table-cell {
        height: 1.75rem;
        width: 3.75rem;
      }
    }

    &.artists-loader {
      .v-skeleton-loader__avatar {
        height: 11.625rem;
        width: 11.625rem;
        margin: auto;
        margin-bottom: 0.625rem;
      }
    }
  }
  
  .v-btn__content {
    font-family: 'Roboto', sans-serif;
  }
  &#muziqa {
    .logo {
      @media #{$media-breakpoint-md} {
        min-width: $md-logo-size;
        height: $md-logo-size;
        width: $md-logo-size;
      }
      @media #{$media-breakpoint-sm} {
        min-width: $sm-logo-size;
        height: $sm-logo-size;
        width: $sm-logo-size;
      }
    }

    .display-1 {
      font-family: $body-font-family;

      @media #{$media-breakpoint-md} {
        font-size: 1.65rem !important;
      }
      @media #{$media-breakpoint-xs} {
        display: none;
      }
    }

    .nav-humbuger {
      display: none;
      @media #{$media-breakpoint-sm} {
        display: block;
      }
    }

    .desktop-nav {
      @media #{$media-breakpoint-sm} {
        display: none;
      }
    }

    .v-responsive {
      @media #{$media-breakpoint-md} {
        max-width: $v-responsive-md;

        .search-card {
          .search-field {
            .v-label {
              font-size: .8rem;
            }
            .v-input__slot {
              padding: 0 .8rem;
            }
          }
        }
      }

      @media #{$media-breakpoint-xs} {
        max-width: $v-responsive-xs;

        .search-card {
          .search-field {
            .v-input__control,
            .v-input__slot {
              min-height: 2.25rem;
            }
          }
        }
      }
    }
  }
}
