//  Overwriting Vuerify variables with custom values

$body-font-family: 'Poppins', sans-serif !important;

$white-color: #fff !important;
$sm-logo-size: 2.25rem !important;
$md-logo-size: 2.5rem !important;
$v-responsive-md: 18.75rem !important;
$v-responsive-xs: 13.125rem !important;

$media-breakpoint-lg: "only screen and (max-width : 75rem)";
$media-breakpoint-md: "only screen and (max-width : 62rem)";
$media-breakpoint-sm: "only screen and (max-width : 48rem)";
$media-breakpoint-xs: "only screen and (max-width : 38rem)";
